<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calorie counter</title>
</head>
<body>
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    </div>
    {% block content %}
    <form method="POST">
        <input type="text" name="name" placeholder="Enter the food name" value="{{ request.form['name'] }}">
        <button type="submit">Search!</button>
        <button type="reset">Clear</button>
    </form>
    <div>
    {% for result in results %}
        <h2>{{ result }}</h2>
    {% endfor %}
    </div>
{% endblock %}

</body>
</html>